.wrapper {
    width: 100%;
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;
  
    display: grid;
    grid-template-columns: 256px 1fr 0fr;
    gap: 2rem;
    align-items: flex-start;
  }

  .newPost{
    width: fit-content;
    height: fit-content;
    padding: 0.3rem;
    background-color: var(--green-300);
    color: var(--white); 
    font-weight: bold;
  }
  .newPost:hover{
    background-color: var(--green-500);
  }

  @media (max-width: 768px) {
    html {
      font-size: 87.5%;
    }
    .wrapper {
      grid-template-columns: 1fr;
    }
  }
  